@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover img{
  transform: scale(1.2);
}

a:active {
  font-weight: bold;
}

.btn-main {
  cursor: pointer;
  height: 50px;
  padding: 11px 31px;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .06em;
  color: #fff;
  background-color: #548132;
  border: 2px solid #548132;
}

.btn-main:hover {
  background-color: transparent;
  border: 2px solid #548132;
  color: #548132;
}

p, address {
  margin: 1em;
  font-size: 1em;
}

.embed-map {
  width: 100%;
  height: 400px;
  border: none;
}

.background {
  width: 100%;
  height: auto;
  z-index: 0;
  text-align: center;
  background: url('images/background.jpeg') no-repeat fixed center;
}

@media screen and (max-width: 768px) {

  .background {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    height: auto;
    background: url('images/background_0.jpeg') no-repeat fixed top;
    background-size: 100% 100%;
  }
}

.background::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: #fff; 
	opacity: 0.7; 
	position: fixed; 
  top:0;
  left:0;
	z-index: 1;
}

.logo {
  width:200px;
  height: auto;
  margin: 30px auto;
}

#wrapper {
  position: relative;
  z-index: 2;
}

.social-media {
  height: 150px;
}

#fb {
  margin-right: 30px;
}

.social-media img {
  margin-top: 30px;
  max-width: auto;
  height: 96px;
}

h1 {
  font-size: 3rem;
  margin-top: 10px;
  font-weight: bold;
}
h3 {
  font-weight: 500;
  font-size: 1.8rem;
}
h4 {
  font-size: 1.3rem;
}
